.leftmenu{
    display: flex;
    align-content: center;
    height: 50px;
    gap: 10px;
    overflow: hidden;
    position: relative;
}
.leftmenu p {
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    width: 100px;
    height: 50px;
}

.leftmenu .active {
    color: #acdc82;
    border-bottom:2px solid #acdc82 ;
}
i{
    font-size: 30px;
    color: #b8c7d2;
}

/* .rightmenu{
    display: flex;
    align-items: center;
} */
.rightmenu div{
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    /* background-color: #acdc82; */
}
.input-group-text {
     background-color: #5f45ff;
     color: #fff;
}