<div class="row m-0">
    <div class="col-10 leftmenu p-0">
        <!-- <div>
            <p style="cursor: auto;"></p>
        </div>
        <div *ngFor="let menu of menu;index as i" (click) = "active(i)">
            <p [class.active] = "menu.active">
                {{menu.name}}
            </p>
        </div> -->
        <div class="form align-center" style="display: flex; align-items: center;">
            <div class="input-group mx-3">
                <input type="text" class="form-control" (keyup)="onKey($event)" placeholder="Search Project" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">Search</span>
                </div>
              </div>
        </div>
        
    </div>
    <div class="col-2 rightmenu row">
    
        <div class="col"><i class="bi bi-bell-fill" style="font-size: 25px;"></i></div>
        <div class="col"><i class="bi bi-circle-fill"></i></div>
    </div>
</div>