<main>
    <div class="wrap">
        
        <div class="rec">
            
        </div>
        <ul class="list-group">
            <li class="list-group-item"><i class="bi bi-list-task"></i><div>Dashboard</div></li>
            <li class="list-group-item active"><i class="bi bi-folder-fill"></i><div>Project</div></li>
            <li class="list-group-item"><i class="bi bi-person-fill"></i><div>Staffs</div></li>
            <li class="list-group-item"><i class="bi bi-calendar"></i><div>Caledar</div></li>
            <li class="list-group-item"><i class="bi bi-bell-fill"></i><div>Notification</div></li>
            <li class="list-group-item"><i class="bi bi-gear-fill"></i><div>Teams</div></li>
        </ul>
    </div>
</main>