
<div class="row justify-content-center">
    <div class="col-6">    
        <form [formGroup]="employeForm" (ngSubmit)="create()" enctype="multipart/form-data">    
        <div class="mb-3">
            <label for="">First Name</label>
            <input type="text" class="form-control" formControlName="firstname" placeholder="Name Employe">
        </div>
        <div class="mb-3">
            <label for="">Last Name</label>
            <input type="text" placeholder="Last Name" formControlName="lastname" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Email</label>
            <input type="text" placeholder="Last Name" formControlName="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Password</label>
            <input type="password" placeholder="Last Name" formControlName="pass" class="form-control">
        </div>
        <div class="mb-3">
            <label for="">Day of birth</label>
            <input type="date" class="form-control" formControlName="birthday" placeholder="Name Employe">
        </div>
        <div class="mb-3">
            <label for="">Sex</label>
            <select name="" id="" formControlName="sex" class="form-control">
                <option [ngValue]="">Gioi tinh</option>
                <option [ngValue]="false">Nu</option>
                <option [ngValue]="true">Nam</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="">Image</label>
            <input type="file" #image (change)="changeImage(image)" class="form-control" placeholder="Name Employe">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">
                Create
            </button>
        </div>
        </form>
    </div>
</div>